<ng-template #btnIcon>
  @if (icon) {
    <app-icon [icon]="icon" [size]="resolvedIconSize"></app-icon>
  } @else if (img) {
    <app-icon [img]="img" [size]="resolvedIconSize"></app-icon>
  }
</ng-template>

<button
  class="btn"
  [class.btn--bg]="background"
  [class.btn--center]="center"
  [style.--btn-color]="cssColor"
  [style.--btn-size]="cssSize"
  [style.--btn-radius]="cssBorderRadius"
  [style.width]="width"
>
  @if (iconSide === 'left') {
    <ng-container *ngTemplateOutlet="btnIcon"></ng-container>
  }
  <ng-content></ng-content>
  @if (iconSide === 'right') {
    <ng-container *ngTemplateOutlet="btnIcon"></ng-container>
  }
</button>
