.btn {
  background: none;
  border: none;
  color: var(--btn-color);
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: var(--btn-size);
  text-align: left;
  padding: 10px;
  cursor: pointer;
  border-radius: var(--btn-radius);

  &--bg {
    background-color: var(--background-highlight);
    width: 100%;
  }

  &--center {
    display: flex;
    justify-content: center;
  }
}

.btn:hover {
  background-color: var(--hover-bg);
}
