:host {
  border-bottom: 1px solid var(--secondary-50);
}

.header {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 20px;
}

.buttons {
  display: flex;
  gap: 1vw;
}
