<header class="header">
  <h3>Home / Absence Tracker</h3>
  <div class="buttons">
    <app-button
      img="neptun"
      [background]="true"
      [circular]="true"
      [center]="true"
      width="140px"
      size="lg"
      >Neptun</app-button
    >
    <app-button
      img="canvas"
      [background]="true"
      [circular]="true"
      [center]="true"
      width="140px"
      size="lg"
      >Canvas</app-button
    >
    <app-button
      img="tms"
      [background]="true"
      [circular]="true"
      [center]="true"
      width="140px"
      size="lg"
      >TMS</app-button
    >
  </div>
</header>
