:host {
  display: flex;
  flex-direction: column;
  background: linear-gradient(160deg,rgba(255, 255, 255, 0.4) 0%, rgba(73, 73, 73, 0.3) 30%);
  border-radius: var(--radius-lg);
  padding: 10px 10px 15px;
  gap: 30px;
  position: relative;
  overflow: hidden;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h3 {
    margin: 0;
  }

  .label {
    display: flex;
    align-items: center;
    background-color: var(--label-background);
    font-size: var(--fs-xs);
    gap: 3px;
    padding: 5px;
    border-radius: var(--radius-sm);
    color: var(--secondary);
  }
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  position: relative;

  .count {
    font-size: var(--fs-h2);
    font-weight: 500;
  }
}

.max-label {
  position: absolute;
  right: 10px;
  bottom: 6px;
  font-size: var(--fs-xs);
  color: var(--secondary);
}

.progress-bar {
  width: 100%;
  height: 6px;
  background: var(--secondary-50);
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;

  .progress-fill {
    height: 100%;
    background: white;
    transition: width 0.3s ease;
  }
}
