<h2 i18n="@@addNewCourse">Add New Course</h2>
<p i18n="@@addCourseDescription" class="description">
  Enter the course details to sync this subject across your timetable, calendar, and trackers.
</p>
<hr>

<form class="form" action="">
  <div class="form__single-input-field">
    <label i18n="@@courseName" for="">Course Name</label>
    <input type="text" placeholder="Functional Programming" i18n-placeholder="@@courseNamePlaceholder">
  </div>

  <div class="form__single-input-field">
    <label i18n="@@courseType" for="">Course Type</label>
    <select name="" id="" required>
      <option value="" disabled selected i18n="@@selectCourseType">Select course type</option>
      <option i18n="@@lecture" value="lecture">Lecture</option>
      <option i18n="@@practice" value="practice">Practice</option>
    </select>
  </div>



  <div class="form__double-input-container">
    <div class="form__single-input-field">
      <label i18n="@@absenceLimit" for="">Absence Limit</label>
      <input type="number">
    </div>

    <div class="form__single-input-field">
      <label i18n="@@currentAbsenceCount" for="">Current Absence Count</label>
      <input type="number">
    </div>
  </div>

  <div class="form__buttons">
    <app-button type="submit" btnBgColor="accent-dark" width="100%" [center]="true" [shadow]="true">Add Course</app-button>
    <app-button btnBgColor="foreground-highlight" width="100%" [center]="true" [shadow]="true">Cancel</app-button>
  </div>


</form>
