.description {
  color: var(--secondary);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 600px;

  &__single-input-field {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__double-input-container {
    display: flex;
    gap: 20px;
  }

  &__buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;

    app-button:first-child {
      flex: 3;
    }

    app-button:last-child {
      flex: 2;
    }
  }

  &__error {
    color: var(--error);
    font-size: var(--fs-sm);
    margin-top: 4px;
    margin-left: 10px;
  }
}
