<app-button [circular]="true" icon="menu"></app-button>

<nav class="nav">
  <app-button i18n="@@dashboard" icon="home" color="secondary" width="100%">Dashboard</app-button>
  <app-button i18n="@@timetable" icon="timetable" color="secondary" width="100%">Timetable</app-button>
  <app-button i18n="@@calendar" icon="calendar" color="secondary" width="100%">Calendar</app-button>
  <app-button i18n="@@absenceTracker" icon="tracker" color="secondary" width="100%">Absence Tracker</app-button>
  <app-button i18n="@@tmsPlagiumAnalyzer" icon="analyzer" color="secondary" width="100%"
    >TMS Plagium Analyzer</app-button
  >
  <app-button i18n="@@settings" icon="setting" color="secondary" width="100%">Settings</app-button>
</nav>

<div class="spacer"></div>

<app-button width="100%" [background]="true" size="md">Samu</app-button>
