:host {
  border-right: 1px solid var(--secondary-50);
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 8px;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.spacer {
  flex: 0.5;
}
