:root {
  // colors
  --background: #1e1e1e;
  --background-highlight: rgba(57, 65, 66, 0.3);
  --foreground-highlight: rgb(57, 65, 66);
  --foreground: rgba(57, 65, 66, 0.2);
  --hover-bg: rgba(255, 255, 255, 0.1);
  --primary: #ffffff;
  --secondary: #aaaaaa;
  --secondary-50: rgba(170, 170, 170, 0.5);
  --accent-light: #04bbfe;
  --accent-dark: #0068e5;
  --label-background: rgba(120, 120, 128, 0.16);
  --shadow: rgba(0, 0, 0, 0.2);

  // text
  --fs-xs: 0.75rem; // 12px  (helper text)
  --fs-sm: 0.875rem; // 14px  (secondary text)
  --fs-md: 1rem; // 16px  (body text) ← default
  --fs-lg: 1.125rem; // 18px
  --fs-xl: 1.25rem; // 20px

  // headings
  --fs-h3: 1.5rem; // 24px
  --fs-h2: 1.75rem; // 28px
  --fs-h1: 2rem; // 32px

  // radius
  --radius-xs: 4px;
  --radius-sm: 6px;
  --radius-md: 10px;
  --radius-lg: 16px;
  --radius-xl: 24px;
}

* {
  box-sizing: border-box;
  letter-spacing: 0.5px;
}

html {
  background-color: var(--background);
  font-family: 'Instrument Sans', sans-serif;
  color: var(--primary);
}

body {
  margin: 0;
}

svg {
  fill: var(--primary);
}

hr {
  border: none;
  height: 1px;
  background-color: var(--secondary-50);
  margin-bottom: 30px;
}

label {
  margin-left: 10px;
  margin-bottom: 5px;
}

input,
select {
  background-color: var(--foreground-highlight);
  border: none;
  padding: 10px 20px;
  border-radius: var(--radius-md);
  color: white;
  font-size: var(--fs-md);
}

select:invalid,
select option[disabled]:checked {
  color: var(--secondary);
}

select option {
  color: white;
}

input::placeholder {
  color: var(--secondary);
}

input:focus,
select:focus {
  outline: 1px solid white;
}
